# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.json

# Build output
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# Logs
*.log

# Others
_ReSharper*/
.vscode/
wwwroot/images/avatars/*.tmp
/appsettings.json
