@using TechNova.Models.Core
@model Brand
@{
    ViewData["Title"] = "Sửa thương hiệu";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Sửa thương hiệu</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="BrandId" />
    <div class="form-group">
        <label>Tên thương hiệu</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a href="/AdminBrands" class="btn btn-secondary">⬅️ Quay lại</a>
</form>
