@{
    ViewData["Title"] = "Home";
}

<section class="highlight-section">
    <div class="highlight-content">
        <h1>MacBook Air M2</h1>
        <p>Hiệu năng mạnh mẽ. Mỏng nhẹ đáng kinh ngạc. Được trang bị chip Apple M2.</p>
        <div class="buttons">
            <a href="/Product/Details/1" class="btn-primary">Tìm hiểu thêm</a>
            <a href="/Product" class="btn-secondary">Mua ngay</a>
        </div>
    </div>
</section>
